* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  color: #fff;
  background: #333;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  line-height: 1.5;
}
header, footer {
 background: #666;
}

#chat  {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
}

#chat main {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
}

#chat main .sidebar {
  width: 200px;
  background: aliceblue;
}

#chat main .messaging-ui {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  .messages {
    flex-grow: 1;
  }
  .message {
    height: 200px;
    background: #ffc;
    color: #333333;
  }
}
